<div class="col-md-5 col-sm-8 mt-2" id="guid">
	<div class="card mb-3" style="height: {{height}}rem">

		<div class="ml-2 mr-2">
			<p class="titleGuide mt-3">

				<button type="button" class="btn btn-circle btn-lg mr-2 ml-2 ">
					<i class="fas fa-info"></i>
				</button>
				Guide de réponse</p>

			<div class="card-body">
				<p class="GuideSousParagraph">{{sousParagraphe1}}</p>
				<p class="GuideSousParagraph">{{sousParagraphe2}}</p>
				<p class="GuideSousParagraph">{{sousParagraphe3}}</p>

				
				{% if img1 == "" %}
					<img class="imageGuide2" src="{{img1}}">

				{% else %}
					<img class="imageGuide" src="{{img1}}">
					 <p class="titreImage">{{ titreImg1 }}</p>
				{% endif %}

       
				{% if img2 == "" %}
					<img class="imageGuide2" src="{{img2}}">

				{% else %}
					<img class="imageGuide" src="{{img2}}">
						 <p class="titreImage">{{ titreImg2 }}</p>
				{% endif %}

				{% if img3 == "" %}
					<img class="imageGuide2" src="{{img3}}">
				{% else %}
					<img class="imageGuide" src="{{img3}}">
						 <p class="titreImage">{{ titreImg3 }}</p>
				{% endif %}



			<div class="row">
				<div class="col col-md-6">
					{% if img4 == "" %}
					<img class="imageGuideImg2" src="{{img4}}">
				{% else %}
					<img class="imageGuideImg" src="{{img4}}">
						 <p class="titreImage">{{ titreImg4 }}</p>
				{% endif %}
				</div>
				<div class="col col-md-6">
					{% if img5 == "" %}
					<img class="imageGuideImg2" src="{{img5}}">

				{% else %}
					<img class="imageGuideImg" src="{{img5}}">
					 <p class="titreImage">{{ titreImg5 }}</p>
				{% endif %}
				</div>
			</div>


	<div class="row">
				<div class="col col-md-6">
					{% if img6 == "" %}
					<img class="imageGuideImg2" src="{{img6}}">
				{% else %}
					<img class="imageGuideImg" src="{{img6}}">
						 <p class="titreImage">{{ titreImg6 }}</p>
				{% endif %}
				</div>
				<div class="col col-md-6">
					{% if img7 == "" %}
					<img class="imageGuideImg2" src="{{img7}}">

				{% else %}
					<img class="imageGuideImg" src="{{img7}}">
					 <p class="titreImage">{{ titreImg7 }}</p>
				{% endif %}
				</div>
			</div>

			
				<div class="row">
				<div class="col col-md-6">
					{% if img8 == "" %}
					<img class="imageGuideImg2" src="{{img8}}">
				{% else %}
					<img class="imageGuideImg" src="{{img8}}">
						 <p class="titreImage">{{ titreImg8 }}</p>
				{% endif %}
				</div>
				<div class="col col-md-6">
					{% if img9 == "" %}
					<img class="imageGuideImg2" src="{{img9}}">

				{% else %}
					<img class="imageGuideImg" src="{{img9}}">
					 <p class="titreImage">{{ titreImg9 }}</p>
				{% endif %}
				</div>
			</div>

			<div class="row">
				<div class="col col-md-6">
					{% if img10 == "" %}
					<img class="imageGuideImg2" src="{{img10}}">
				{% else %}
					<img class="imageGuideImg" src="{{img10}}">
						 <p class="titreImage">{{ titreImg10 }}</p>
				{% endif %}
				</div>
				<div class="col col-md-6">
				</div>
			</div>
				
			</div>
		</div>

	</div>
</div>
