<div class="row mb-2" id="guidMobile">
	<div
		class="col-11 col-md-11 col-sm-11 ">


		<!-- Button trigger modal -->
		<div class="text-right">

			<button data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="button" class="btn btn-circle btn-lg">
				<i class="fas fa-info"></i>
			</button>
		</div>
		<!-- Modal -->
		<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header">
						<p class="titleGuide">

							<button type="button" class="btn btn-circle btn-lg">
								<i class="fas fa-info"></i>
							</button>


							Guide de réponse</p>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
							<i class="fas fa-window-close"></i>
						</button>
					</div>
					<div class="modal-body">
						<div class="card-body">
							<p class="GuideSousParagraph">{{sousParagraphe1}}</p>
							<p class="GuideSousParagraph">{{sousParagraphe2}}</p>
							<p class="GuideSousParagraph">{{sousParagraphe3}}</p>

						</div>

							{% if img1 == "" %}
					<img class="imageGuideMob2" src="{{img1}}">

				{% else %}
					<img class="imageGuideMob" src="{{img1}}">
				{% endif %}

				{% if img2 == "" %}
					<img class="imageGuideMob2" src="{{img2}}">

				{% else %}
					<img class="imageGuideMob" src="{{img2}}">
				{% endif %}

				{% if img3 == "" %}
					<img class="imageGuideMob2" src="{{img3}}">

				{% else %}
					<img class="imageGuideMob" src="{{img3}}">
				{% endif %}

				{% if img4 == "" %}
					<img class="imageGuideMob2" src="{{img4}}">

				{% else %}
					<img class="imageGuideMob" src="{{img4}}">
				{% endif %}

				{% if img5 == "" %}
					<img class="imageGuideMob2" src="{{img5}}">

				{% else %}
					<img class="imageGuideMob" src="{{img5}}">
				{% endif %}

				{% if img6 == "" %}
					<img class="imageGuideMob2" src="{{img6}}">

				{% else %}
					<img class="imageGuideMob" src="{{img6}}">
				{% endif %}

				{% if img7 == "" %}
					<img class="imageGuideMob2" src="{{img7}}">

				{% else %}
					<img class="imageGuideMob" src="{{img7}}">
				{% endif %}

				{% if img8 == "" %}
					<img class="imageGuideMob2" src="{{img8}}">

				{% else %}
					<img class="imageGuideMob" src="{{img8}}">
				{% endif %}

				{% if img9 == "" %}
					<img class="imageGuideMob2" src="{{img9}}">

				{% else %}
					<img class="imageGuideMob" src="{{img9}}">
				{% endif %}

				{% if img10 == "" %}
					<img class="imageGuideMob2" src="{{img10}}">

				{% else %}
					<img class="imageGuideMob" src="{{img10}}">
				{% endif %}
				
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
