<div class="row justify-content-md-center ">

	<div class="col col-md-8 col-sm-10 mt-5">

		<p class="numPartie">PARTIE
			{{ num }}</p>
		<h1 class="titlePartie2">
			{{ title }}</h1>

		<div class="text-center">
			<img style="width: 200px" src="{{ img }}"/>
		</div>

		<p class="paragraphePartie mt-3">
			{{ paragraphe }}

		</p>
		<h class="sousParagraphePartie">{{ sousPararaphe }}</h>
		<br><br>
	</div>

</div>
