{% extends "base1.html.twig" %}

{% form_theme formView 'bootstrap_4_layout.html.twig' %}

{% block title %}Lancement d'un diagnostic
{% endblock %}

{% block body %}


	<div class="row">
		<div class="col-md-7 col-sm-12">
			{% include "shared/_progress.html.twig" with {
      'width1': 100,
      'width2': 30,
      'width3': 0,
			'width4': 0
    }  %}

			{% include "shared/_guidMobile.html.twig" with {

 'sousParagraphe1': 'Bien que souvent considérées comme «inesthétiques», les pelouses à la végétation éparse et aux zones dénudées offrent un habitat de nidification essentiel pour de nombreuses abeilles et autres insectes nichant au sol.',
      'sousParagraphe2': 'Contrairement aux colonies de guêpes sociales installées sous terre, ces insectes, très peu susceptibles de piquer, sont solitaires, actifs une courte période de l’année et fabriquent de très petits nids.',
			'sousParagraphe3': ' En fait, si vous n’observez pas attentivement, vous ne remarquerez même pas qu’elles partagent votre espace ! Les talus peuvent également présenter des zones de terre apparente à préserver pour la nidification de ces insectes',
				'img1': '',
			'img2': '',
			'img3': '',
			'img4': '/images/guide/2A/2A_fond1.JPG',
			'img5': '/images/guide/2A/2A_fond2.png',
			'img6': '/images/guide/2A/2A_fond3.png',
			'img7': '/images/guide/2A/2A_fond4.jpg',
			'img8': '/images/guide/2A/2A_insecte1.jpg',
			'img9': '/images/guide/2A/2A_insecte2.jpg',
			'img10': '/images/guide/2A/2A_insecte3.jpg'

} 
%}
		
			{% include "shared/_question.html.twig" with {
      'partie': '3',
      'sousPartie': 'a',
      'titre': 'Habitats pour insectes pollinisateurs s’abritant sous terre et dans la litière',
			'numQuestion': '3',
			'nbreQuestions': '4',
			'question': 'Des touffes de graminées indigènes sont présentes dans les massifs
								ou les zones non tondues de pelouse, prairie ?',
			'infosQuestion': '(liste d’exemples de graminées indigènes en annexes ou
								plus d’espèces sur le site
								https://www.vegetal-local.fr/vegetaux-producteurs/recherche)',
    } 
		 %}
			<div class="list-group">

				<button id="rep1" onclick="clickRep1()" class="list-group-item list-group-item-action mb-2" aria-current="true">
					<h3 class="mb-1 mt-4">Non</h3>
					<h4 class="text-right">0 pt</h4>
				</button>

				<button id="rep2" onclick="clickRep2()" class="list-group-item list-group-item-action mb-2" aria-current="true">
					<h3 class="mb-1 mt-4">Oui</h3>
					<h4 class="text-right">5 pts</h4>
				</button>

			</div>
			{{ form_start(formView) }}

			{{ form_errors(formView) }}

			{{ form_row(formView.name) }}
			{{ form_row(formView.delimitation) }}
			{{ form_row(formView.proprietaire) }}
			{{ form_row(formView.adresse) }}
			{{ form_row(formView.objectif) }}
			{{ form_row(formView.mail) }}
			{{ form_row(formView.etape) }}
			{{ form_row(formView.score) }}
			{{ form_row(formView.score1) }}
			{{ form_row(formView.score2) }}
			{{ form_row(formView.score3) }}
			{{ form_row(formView.score4) }}
			<br>
			<div class="row mt-4">
				<div class="col col-md-5 col-sm-4">
					<a class="btn btnRetour text-capitalize" href="{{ path('diagnostic_question2A2', {'id': diagnostic.id } ) }}">
						<h3>
							<i class="fas fa-angle-left"></i>
							Retour
						</h3>

					</a>
				</div>
				<div class="col col-md-7 col-sm-4 text-right">
					<button type="submit" class="btn btnSuivant ml-3 text-capitalize">

						<h3>
							Suivant
							<i class="fas fa-angle-right"></i>
						</h3>
					</button>
				</div>


			</div>

			{{ form_end(formView) }}

		</div>
	{% include "shared/_guide.html.twig" with {
	'height': '73',
      'sousParagraphe1': 'Bien que souvent considérées comme «inesthétiques», les pelouses à la végétation éparse et aux zones dénudées offrent un habitat de nidification essentiel pour de nombreuses abeilles et autres insectes nichant au sol.',
      'sousParagraphe2': 'Contrairement aux colonies de guêpes sociales installées sous terre, ces insectes, très peu susceptibles de piquer, sont solitaires, actifs une courte période de l’année et fabriquent de très petits nids.',
			'sousParagraphe3': ' En fait, si vous n’observez pas attentivement, vous ne remarquerez même pas qu’elles partagent votre espace ! Les talus peuvent également présenter des zones de terre apparente à préserver pour la nidification de ces insectes',
				'img1': '',
			'img2': '',
			'img3': '',
			'img4': '/images/guide/2A/2A_fond1.JPG',
			'img5': '/images/guide/2A/2A_fond2.png',
			'img6': '/images/guide/2A/2A_fond3.png',
			'img7': '/images/guide/2A/2A_fond4.jpg',
			'img8': '/images/guide/2A/2A_insecte1.jpg',
			'img9': '/images/guide/2A/2A_insecte2.jpg',
			'img10': '/images/guide/2A/2A_insecte3.jpg'
    }  %}

		<script>
			var rep1 = document.getElementById("rep1");
var rep2 = document.getElementById("rep2");

var score = document.getElementById("diagnostic2_score");
score.value = 0;

function clickRep1() {
score.value = 0;
rep1.style.background = '#7226AE';
rep1.style.color = 'white';
rep2.style.background = 'white';
rep2.style.color = 'black';
}

function clickRep2() {
score.value = 5;
rep2.style.background = '#7226AE';
rep2.style.color = 'white';
rep1.style.background = 'white';
rep1.style.color = 'black';

}
		</script>

	{% endblock %}
